{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10" id="div_cards">
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/jsx">

        const imgStyle = {
                width: '80px',
                height: '50px'
                };

        function CardElement(props){
            return (
                <tr key={props.card.id}>
                    <td><img src={props.card.iconUrls.medium} style={imgStyle}/></td>
                    <td>{props.card.name}</td>
                    <td>{props.card.maxLevel}</td>
                </tr>
                )
            }

        function TableCard(props){
            return (
                <table className="table table-light table-sm table-hover">
                    <thead className="thead-dark">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>MaxLevel</th>
                        </tr>
                    </thead>
                    <tbody>
                        { props.cards.map(card => <CardElement card={card} />) }
                    </tbody>
                </table>
                )
            }

        class CarList extends React.Component {
            state = {
                cards: {{ cards|safe }}
                }

            render() {
                return <TableCard cards={this.state.cards}/>
                }
            }

        ReactDOM.render(<CarList/>, document.getElementById('div_cards'))
    </script>
{% endblock %}
