{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10">
            <table class="table table-light table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>MaxLevel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cards %}
                        <tr>
                            <td>#{{forloop.counter}}</td>
                            <td>
                                <img src="{{ item.iconUrls.medium }}" wdth="80px" height="50px"/>
                            </td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.maxLevel }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
