{% extends 'base.html' %}

{% block content %}
    <!-- solo con v-for
    <div id="app">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-10" id="div_cards">
                <table class="table table-light table-sm table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>MaxLevel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="card in card_list">
                                <td><img :src=card.iconUrls.medium :style="[styleimg]" /></td>
                                <td>{card.name}</td>
                                <td>{card.maxLevel}</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div> -->

        <!-- con 1 componente  
            <div class="row justify-content-center">
            <div class="col-md-8 col-sm-10" id="div_cards">
                <tablecard></tablecard>
            </div>
        </div> -->

    <!-- con más de 1 componente -->
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10" id="div_cards">
            <tablecard></tablecard>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script>

        /* solo con v-for
        
        new Vue({
            delimiters: ['{', '}'],
            el: "#app",
            data: {
                card_list: {{ cards|safe }},
                styleimg: {
                    width: '80px',
                    height: '50px'
                }
            }
        })*/

        /* con 1 componente
        Vue.component('tablecard', {
            delimiters: ['{', '}'],
            template: // html
                `
                    <div>
                        <table class="table table-light table-sm table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>MaxLevel</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="card in card_list">
                                    <td><img :src=card.iconUrls.medium :style="[styleimg]" /></td>
                                    <td>{card.name}</td>
                                    <td>{card.maxLevel}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                `,
            data: function(){
                return {
                    card_list: {{cards|safe}},
                    styleimg: {
                        width: '80px',
                        height: '50px'
                    }
                }
            }
        })
        
        new Vue({
            delimiters: ['{', '}'],
            el: "#div_cards"
        })
        
        */

        /* con más de 1 componente */
        Vue.component('tablecard', {
            delimiters: ['{', '}'],
            template: // html
                `
                    <div>
                        <table class="table table-light table-sm table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>MaxLevel</th>
                                </tr>
                            </thead>
                            <cards :lista="card_list"></cards>
                        </table>
                    </div>
                `,
            data: function(){
                return {
                    card_list: {{cards|safe}}
                }
            }
        })

        Vue.component('cards', {
            delimiters: ['{', '}'],
            template: // html
                `
                    <tbody>
                        <tr v-for="card in lista">
                            <td><img :src=card.iconUrls.medium :style="[styleimg]" /></td>
                            <td>{card.name}</td>
                            <td>{card.maxLevel}</td>
                        </tr>
                    </tbody>
                `,
            props: ['lista'],
            data: function(){
                return {
                    styleimg: {
                        width: '80px',
                        height: '50px'
                    }
                }
            }
        })

        new Vue({
            delimiters: ['{', '}'],
            el: "#div_cards"
        })

    </script>
{% endblock %}