{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
            {% for item in battles %}
                <div class="row">
                    <table class="table table-borderless table-sm">
                        <tr>
                            <th>Type:</th>
                            <td>{{ item.type }}</td>
                            <th>Arena:</th>
                            <td>{{ item.arena.name }}</td>
                            <th>Game Mode:</th>
                            <td>{{ item.gameMode.name }}</td>
                            <th>Deck Selection:</th>
                            <td>{{ item.deckSelection }}</td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% for team in item.team %}
                            {{ team.name }} <i class="text-muted">[{{ team.clan.name }}]</i>
                            | startingTrophies: {{ team.startingTrophies }}
                            | trophyChange: {{ team.trophyChange }}
                            | crowns: {{ team.crowns }}
                            <div class="row no-gutters">
                                {% for card in team.cards %}
                                    <div class="col-md-1">
                                        <div class="card text-center">
                                            <img src="{{ card.iconUrls.medium }}" alt="{{ card.name }}" height="70px" class="rounded">
                                            <i class="text-muted" style="font-size: 12px">Lvl: {{ card.level }}</i>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {% for team in item.opponent %}
                            {{ team.name }} <i class="text-muted">[{{ team.clan.name }}]</i>
                            | startingTrophies: {{ team.startingTrophies }}
                            | trophyChange: {{ team.trophyChange }}
                            | crowns: {{ team.crowns }}
                            <div class="row no-gutters">
                                {% for card in team.cards %}
                                    <div class="col-md-1">
                                        <div class="card text-center">
                                            <img src="{{ card.iconUrls.medium }}" alt="{{ card.name }}" height="70px" class="rounded">
                                            <i class="text-muted" style="font-size: 12px">Lvl: {{ card.level }}</i>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr/>
            {% endfor %}
        </div>
    </div>
{% endblock %}