{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8">
            <table class="table table-light table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Index</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in chests %}
                        <tr>
                            <td>{{ item.index }}</td>
                            <td>{{ item.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}