{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10">
            <table class="table table-light table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Location</th>
                        <th>Clans</th>
                        <th>Players</th>
                        <th>Clan Wars</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in locations %}
                        <tr>
                            <td>#{{forloop.counter}}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                <a href="{% url 'locations:ranking_clans' item.id %}">Top 200</a>
                            </td>
                            <td>
                                <a href="{% url 'locations:ranking_players' item.id %}">Top 200</a>
                            </td>
                            <td>
                                <a href="{% url 'locations:ranking_clanwars' item.id %}">Top 200</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
{% endblock %}