{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10">
            <table class="table table-light table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Rank</th>
                        <th>Previous Rank</th>
                        <th>Name</th>
                        <th>Trophies</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in players %}
                    <tr>
                        <td>{{ item.rank }}</td>
                        <td>{{ item.previousRank }}</td>
                        <th>{{ item.name }}</th>
                        <td>{{ item.trophies }}</td>
                        <td>
                            <a href="{% url 'players:player_detail' item.tag %}">Detail</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}