{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8">
            <div class="card">
                <div class="card-header">
                    {{ clan.name }}
                </div>
                <div class="card-body">
                    <div>
                        <table class="table table-borderless">
                            <tr>
                                <th>Members:</th>
                                <td>{{ clan.members }}</td>
                                <th>Location:</th>
                                <td>{{ clan.location.name }}</td>
                            </tr>
                            <tr>
                                <th>Score:</th>
                                <td>{{ clan.clanScore }}</td>
                                <th>Required Trophies:</th>
                                <td>{{ clan.requiredTrophies }}</td>
                            </tr>
                        </table>
                    </div>
                    <hr/>
                    <div>
                        {{ clan.description }}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'clan:member_list' clan.tag %}">Members</a>
                    <a href="#">Warlog</a>
                    <a href="#">Current War</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}