{% extends 'base.html' %}

{% block content %}
    <form class="form-inline">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control my-2 mr-sm-2" name="name" value="{{params.name}}">
        </div>
        <div class="form-group">
            <label class="my-1 mr-2">Location:</label>
            <select class="custom-select my-2 mr-sm-2" name="locationId">
                {% for location in locations %}
                    <option value="{{ location.id }}" {% if params.locationId == location.id|safe %} selected {% endif %}>{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Min Members:</label>
            <input type="number" class="form-control my-2 mr-sm-2" style="width:80px" max="50" min="1" name="minMembers" value="{{ params.minMembers }}">
        </div>
        <div class="form-group">
            <label>Max Members:</label>
            <input type="number" class="form-control my-2 mr-sm-2" style="width:80px" max="50" min="1" name="maxMembers" value="{{ params.maxMembers }}">
        </div>
        <div class="form-group">
            <label>Min Score:</label>
            <input type="number" class="form-control my-2 mr-sm-2" style="width:100px" min="0" name="minScore" value="{{ params.minScore }}">
        </div>
        <div class="form-group">
            <label>Limit:</label>
            <input type="number" class="form-control my-2 mr-sm-2" style="width:80px" name="limit" value="{{ params.limit }}">
        </div>
        <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10">
            <table class="table table-light table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Members</th>
                        <th>Required Trophies</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in clans %}
                    <tr>
                        <th>{{ item.name }}</th>
                        <td>{{ item.clanScore }}</td>
                        <td>{{ item.members }}</td>
                        <td>{{ item.requiredTrophies }}</td>
                        <td>
                            <a href="{% url 'clans:clan_detail' item.tag %}">Detail</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}